<div id="message-list-section" #messageList>
    <message-list 
        [messages]="model.messages"
        (messageDeleted)="messageDeletedHandler($event)">
    </message-list>
</div>
<div id="message-create-section" class="d-flex justify-content-between align-items-center">
    <textarea 
        pInputTextarea 
        [(ngModel)]="messageContent"
        [rows]="2" 
        [autoResize]="true">
    </textarea>
    <div class="btn-container">
        <button 
            pButton 
            pRipple 
            type="button" 
            icon="pi pi-send"
            class="p-button-rounded p-button-primary"
            (click)="send()">
        </button>
    </div>
</div>